
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{

  font-family: 'Poppins', sans-serif;
}
.nav{
  font-size: 18px;
}


.imnav{
  height: 45px;
  margin-left: 5px;
}
.input-align{
  margin-left: -15px;
}
.item{
  height: 600px;
}


.footer-col{
  width: 100%;

}


.first-slide{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
  url(../afbeeldingen/IMG_6725.jpg);
  background-size: cover;
}

.second-slide{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
  url(../afbeeldingen/IMG_6718.jpg);
  background-size: cover;
}

.third-slide{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
  url(../afbeeldingen/IMG_6763.jpg);
  background-size: cover;
}
.title-color{
  color: #fff;
}

.btn-color{
  background: #000;
  color: grey;
}

.btn-color-hover{
  color: #fff;
}
.contact{
  margin-left: 5px;
}
.prijs{
  margin-left: 5px;
}
@@keyframes slide-btn {
  16%{
    transform: translateY(8px);
  }
  33%{
    transform: translateY(-6px);
  }
  50%{
    transform: translateY(4px);
  }
  65%{
    transform: translateY(-2px);
  }
  85%{
    transform: translateY(1px);
  }
  100%{
    transform: translateY(0);
  }
}
.slide-btn{
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
.slide-btn:hover,
.slide-btn:focus,
.slide-btn:active{
  animation-name: slide-btn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

}
.service-icon{
  display: inline-block;
  font-size: 125px;
  margin-top: 30px;
  padding: 8px 16px;
}

.panel-photo {
  height: 100px;
}

.h-settings {
  height: 50px;
  font-size: 15px;
}

.p-settings {
  width: 140px;
  height: 80px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.well {
  height: 50px;
}

.head-settings{
  width: 500px;
  height: 40px;
  border: 2px solid #grey;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  margin: 8% auto;
  padding: 15px;
  background-color:
}
.text-mod{
  margin-top: -7px;
}

#partial-headerWrapper{
display: none;
}

#headerparial2{
  position:relative;
  padding:0;
  margin:0;
  overflow:hidden;
  height:440px;
  background-image: url(../afbeeldingen/IMG_6725.jpg);
  background-repeat: no-repeat;
  background-size: 100% 440px;
  background-position: top center;
}
#headerparial3{
  position:relative;
  padding:0;
  margin:0;
  overflow:hidden;
  height:325px;
  background-image: url(../afbeeldingen/IMG_6725.jpg);
  background-repeat: no-repeat;
  background-size: 100% 325px;
  background-position: top center;
}

#partial-logotext{
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: left;
  background-size: 180px;
  margin-left: 25px;
}

#partial-fore-flower{
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url();
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: right bottom;
  top: 100px;
  right: -50px;

}

#partial-back-flower{
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url();
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 350px;
  top: 75px;
  left: -25px;
}

#add-product-btn{
  margin-top: -35px;
}
.cat-header {
  margin-left: -3.8%;
  margin-right: -3.8%;
  margin-top: 0;
}
.con-filter{
  margin-left:-45px;
  margin-right: -16%;
  width:125%;
  height:100vh;
  text-align: left;
}
.t1{
  margin-top: 2%;
}

.form-filters{
  margin-left:20px;
}

.t1{
  margin-top: 2%;
}

.head-search{

  width: 110%;
  margin-left: -5%;
}
.input-search{
  padding: 0px 20px;
  width: 300px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  border-color: black;
}
.input-button{
  width: auto;
  height: auto;
  margin-top: 2%;
  font-size: 22px;
  background-color: darkgrey;
}
.j1 {
  width: 123%;
  margin-left: 0;
  height: 355px;
  margin-top:6%;
}


.f1 {
  margin-left:40px;
  margin-right: 40px;
}

.l1{
  margin-left:40px;
  margin-right:40px;
}

.j2 {
height:306.5px;

margin-top: -11px;

margin-left: -5%;
width: 105%;
margin-bottom: 50px;
}

.f2{
  margin-left:50px;

}

.l2 {
  margin-left:50px;

}

.j3 {
margin-left:0;

height:450px;
width:120%;

}

.f3 {
  margin-left:40px;
  margin-top:60px;
  margin-right: 40px;
}



.l3{
  margin-left:40px;
  margin-right:40px;
  margin-bottom:50px;
}

.p1 {
  margin-top: 50px;
  height:305px;
  margin-left:0;
}
.con-recent{
  width:127%;

  height:100vh;
}

.saved-image{
  text-align: center;
}

.saved-image img{

width: 150px;
height: 150px;
}

#login-form{
  width: 50%;
  height: 60%;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  margin: 8% auto;
  padding: 15px;
}


.img-thumb{
  width: 200px;
  height: 200px;
}



fotorama__wrap{
  width: 90%;
  margin: 15px auto;
}

.table-auto{
  width:auto;
  margin:0 auto;
}

.totals-table-header th{
  text-align:center;
}

input,
.StripeElement {
  height: 40px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input {
  padding: 10px 12px;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#cart_widget td, #recent_widget {
  font size: 12px;
}

input.price-range {
  width: 55px;
  height: 12px;
  color: white;
}

.laadpaal-image{
  width: 100%;
  margin-left: -0.5%;
}

.laadpaal-tekstvak{
background-color:white;
height:120%;
margin-top:1%;
margin-left: -0.5%;
width:100%;
}

input.searchHLLH {
  height: 12px;
}

.navbar {
  height: auto;
}

.navbar-image{
  height:40px;
   width:auto;
}
.navbar {
  margin-top: 0px;
}

.navbar-brand {

}
.dropdown-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 0px;
  padding: 9px 10px;
}

.imnav {
height: 100px;
margin-left: 5%;
margin-top: 5%;
}

.navbar {
  height: auto;
  position: absolute;
}

.con1{
  font-size: 30px;
  margin-top: auto;
}

.nav {
  margin-top: 35%;
}

.carousel,.item,.active{
 height:100%;
}
.carousel-inner{
  height:100%;
}

#myCarousel{
  margin-top:110%;
  height: 40vh;

}
.h1{
  font-size: 18px;
}
.text1{
  font-size: 12px;
}
.btn-color{
  font-size: 10px;
}
.h2{
font-size: 18px;
}
.h3{
font-size: 25px;
}

.j1 {
height:auto;
width:auto;
margin-top: -30px;
}


.c1 {
margin-left:0;
}

.i1{
margin-top: 10%;
width:auto;
align-content: center;
}

.j2{
height:auto;
width:auto;
margin-top:-10%;

}
.l2 {
margin-right: 40px;
}

.p1 {
height: 100%;
width: 100%;
margin-left: 0;
margin-top: 5%;
margin-bottom: 5%;
}
.j3{
height:auto;
width:auto;
margin-top:-15px;
margin-left: 0;
}
.f3{
  margin-left:40px;
  margin-top:5%;
  margin-right: 5%;
}
.i3 {
  margin-top: 20%;
}

.p-settings{
  width: auto;
}

.cat-header {
  margin-left: -16%;
  margin-right: -16%;
  margin-top: ;
}
.cart-phone{
  margin-top: 0;
}
.con-filter{
  margin-left:-45px;
  margin-right: -16%;
  width:auto;
  height:auto;
  text-align: center;
}
.col-size{
  width: 125%;
  margin-left:-12.5%;
  margin-top: 2%;
}
.con-recent{
  margin-top: 0;
  margin-left: -16%;
  width: 132%;
  height: auto;
}
.form-filters{
  margin-left:;
}

.br
  {
     display: none;   // hide the BR tag for wider screens (i.e. disable the line break)
  }

}
